html
  head
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-3.7.0.min.js")
    script(src="index.js")
  body
    h1 Quiz
    button#btn-category Get category
    button#btn-question Get question
    #category
    #question